# This is a systemd unit file
[Unit]
Description=consumption service for paperless-ngx remote API
Documentation=https://github.com/ccremer/paperless-cli
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/default/paperless-cli
User=65534
Group=0
ExecStart=/usr/bin/paperless-cli consume
Restart=on-failure

[Install]
WantedBy=multi-user.target
